<!DOCTYPE html>
<html>
    <head>
        <title>Next Pixel</title>
        <meta name="description" content="Share your favorite scenes in 2 dimension world." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-list">

                <a class="navbar-item" href="/">Tech Talk</a>
                <div class="right">
                    <% if(!currentUser){ %>
                        <a class="navbar-item" href="/login">Login</a>
                        <span> / </span>
                        <a class="navbar-item" href="/register">Sign Up</a>
                    <% } else { %>
                        <a class="navbar-item" href="#"><%= currentUser.username %></a>
                        <span> / </span>
                        <a class="navbar-item" href="/logout">Logout</a>
                    <% } %>
                </div>


            </div>
        </div>
        <% if(flash && flash.length > 0){ %>
            <p id="flash"><%= flash %></p>
        <% } %>
 
