<!DOCTYPE html>
<html>
    <head>
        <title>Next Pixel</title>
        <meta name="description" content="Share your favorite scenes in 2 dimension world." />
        
	    <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    </head>
    <body>

        <div id="landing-header">
                <h1>Next Pixel</h1>
                <a href="/posts">Vew All Pixels</a>
           </div>
           
           <ul class="slideshow">
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
           </ul>
    </body>

</html>


