<% include partials/header %>

<form action="/posts" method="post">
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="sumary" placeholder="sumary" />
    <textarea name="description">Description</textarea>
    <button type="submit" >Submit</button>
</form>

<a href="/posts">view all sites</a>

<% include partials/footer %>